<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device=width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	
	<style type="text/css">
		a {
			color: #c309aa;
			text-decoration: none;
		}

		a:hover {
			color: #b0131dac;
		}

		.logo-wrapper {
			text-transform: uppercase;
			padding: 30px 0px;
		}

		.menu {
			padding-left: 0px;
			background: #11020cfc;
		}

		.menu .container {
			padding-left: 0px;
		}

		.menu-items .active {
			background: #11020cfc;

		}

		.menu .menu-items a {
			text-decoration: none;
			color: #fff;
			padding: 10px 30px;
			display: block;
		}

		.menu .menu-items a:hover {
			background: #b10689;
		}

		.thumb {
			width: 100%;
		}

		.main-news {
			margin-top: 20px;
		}

		.main-news h3 {
			line-height: 0.75;
		}

		.main-news h3 a {
			font-size: 17px;
			text-decoration: none;
			font-weight: 600;
		}

		.image {
			overflow: hidden;
		}

		.image-sm {
			max-height: 180px;
		}

		.image-sm img {
			height: 180px;
		}

		.image-xs {
			max-height: 140px;
		}

		.image-xxs {
			max-height: 100px;
		}

		.image img {
			object-fit: cover;
		}

		.font-large {
			font-size: 0.9em !important;
			font-weight: 600 !important;
		}

		.section-title {
			position: relative;
			margin-bottom: 20px;
		}

		.section-title span {
			font-weight: 400;
			font-size: 17px;
			color: #519ac5fc;
		}

		.section-title span:after {
			content: '';
			position: absolute;
			background: #519ac5fc;
			width: 50px;
			height: 2px;
			left: 0;
			bottom: 0;
		}

		.bb-1 {
			padding: 20px 0px;
			border-bottom: 1px solid #eee;
		}

		.section {
			border-bottom: 1px solid #eee;
			padding-bottom: 20px;
		}

		small {
			color: #999;
		}

		.summary {
			color: #777;
		}

		.trending .row {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid #eee;
		}

		.sticky {
			position: fixed;
			top: 0;
			width: 100%;
		}

		.no-pad {
			padding-left: 0px !important;

		}
	</style>

	<title>The News</title>


	<title>The News</title>


</head>

<body>

	<div class="container">

		<div class="logo-wrapper d-flex align-items-center ">
			<h1>
				<a href="index.html">
					Новости
				</a>
			</h1>
		</div>
	</div>

	<div class="container-fluid menu">
		<div class="container">
			<div class="d-flex menu-items">
				<div class="active">
					<a href="{% url 'home' %}">Главный</a>
				</div>
				<div>
					<a href=" {% url 'sport' %} ">Спорт</a>
				</div>

				<div>
					<a href="{% url 'technology' %}">Технологии</a>
				</div>
				<div>
					<a href="{% url 'business' %}">Бизнес</a>
				</div>
				<div>
					<a href="{% url 'politika' %}">Политика</a>
				</div>
				<div>
					<a href="{% url 'health' %}">Здоровье</a>
				</div>


			</div>
		</div>
	</div>
   
	<div class="container main-news section">
		<div class="row">
			
			<div class="col-sm-12 col-md-6 col-xs-12 col-lg-6">
				<img class="thumb mb-3"
					src="https://er.ru/media/userdata/news/2012/01/18/c7cc7df4f438634eecb989b936f9b999.jpg">
				<h3>
					<a class="font-large" href="detail.html">
					
					</a>
				</h3>
			</div>
			<div class="col-sm-12 col-md-6 col-xs-12 col-lg-6">
				<div class="row">
					
					<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
						<div class="image image-sm mb-1">
							<img class="thumb" src="https://ktonanovenkogo.ru/image/tekhnologiia-skvorechnik.jpg">
						</div>
						<h3 class="mb-4">
							<a href="detail.html">
								
							</a>
						</h3>

						<div class="image image-sm mb-1">
							<img class="thumb" src="https://ktonanovenkogo.ru/image/tekhnologiia-skvorechnik.jpg">
						</div>
						<h3 class="mb-4">
							<a href="detail.html">
								New Zealand win inaugural World Test Championship
							</a>
						</h3>

					</div>

					<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
						<div class="image image-sm mb-1">
							<img class="thumb"
								src="https://er.ru/media/userdata/news/2012/01/18/c7cc7df4f438634eecb989b936f9b999.jpg">
						</div>
						<h3 class="mb-4">
							<a href="detail.html">
								Afridi to play Everest Premier League from Kathmandu Kings
							</a>
						</h3>

						<div class="image image-sm mb-3">
							<img class="thumb image-sm" src="https://letzcricket.com/uploads/news/VxmVhzyjAkw3hCaB.png">
						</div>
						<h3>
							<a href="detail.html">
							<h1> {{ now.sportnNew }} </h1>
							</a>
						</h3>

					</div>
				</div>
			</div>
			
			
		</div>
	</div>

	<div class="container section mt-4">
		<div class="section-title">
			<span>Analysis & Prediction</span>
		</div>
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" src="https://letzcricket.com/uploads/news/zXhIbjMmry4D2Sup.png">
				</div>
				<a href="detail.html">
					India vs England 4th T20 : Match Prediction, Probabale XI, Fantasy Picks
				</a>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" src="https://letzcricket.com/uploads/articles/6CdghhIpvYREvJ6a.png">
				</div>
				<a href="detail.html">
					Glenn Maxwell's All-Time IPL XI, Big names missing
				</a>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" src="https://letzcricket.com/uploads/articles/dddNsPXVC6f5bmI5.jpg">
				</div>
				<a href="detail.html">
					Can Rohit be next Sehwag in Indian Test Cricket
				</a>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" src="https://letzcricket.com/uploads/articles/sL1e41w4xUmSDA8L.jpg">
				</div>
				<a href="detail.html">
					Domestic Cricket changing the face of Nepali Cricket
				</a>
			</div>
		</div>
	</div>


	<div class="container section">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="mb-4 mt-4">
					<div class="section-title">
						<span>Latest Updates</span>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="detail.html">
									India win series despite Sam Curran's heroics
								</a>
							</h5>
							<small>29th August, 2021</small>
							<p class="summary pt-3">India win series despite Sam Curran's heroics</p>
						</div>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="detail.html">
									India win series despite Sam Curran's heroics
								</a>
							</h5>
							<small>29th August, 2021</small>
							<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated
								England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win,
								the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
						</div>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="detail.html">
									India win series despite Sam Curran's heroics
								</a>
							</h5>
							<small>29th August, 2021</small>
							<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated
								England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win,
								the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
						</div>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="detail.html">
									India win series despite Sam Curran's heroics
								</a>
							</h5>
							<small>29th August, 2021</small>
							<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated
								England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win,
								the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
						</div>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="detail.html">
									India win series despite Sam Curran's heroics
								</a>
							</h5>
							<small>29th August, 2021</small>
							<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated
								England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win,
								the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
						</div>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="detail.html">
									India win series despite Sam Curran's heroics
								</a>
							</h5>
							<small>29th August, 2021</small>
							<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated
								England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win,
								the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
						</div>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="detail.html">
									India win series despite Sam Curran's heroics
								</a>
							</h5>
							<small>29th August, 2021</small>
							<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated
								England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win,
								the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
						</div>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="detail.html">
									India win series despite Sam Curran's heroics
								</a>
							</h5>
							<small>29th August, 2021</small>
							<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated
								England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win,
								the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
						</div>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="detail.html">
									India win series despite Sam Curran's heroics
								</a>
							</h5>
							<small>29th August, 2021</small>
							<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated
								England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win,
								the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="trending mt-4">
					<div class="section-title">
						<span>Trending</span>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/Pk9jw3Z9iv8EBLxE.jpg">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								Paras Khadka retires from international cricket
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/articles/dddNsPXVC6f5bmI5.jpg">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								Can Rohit be next Sehwag in Indian Test Cricket
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								India win series despite Sam Curran's Heroics
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/ZqXXlQDeCffne57g.jpg">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								Domestic Cricket Changing the Face of Nepali Cricket
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/rTv8qzdEizH8HSTE.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								Afridi to play Everest Premier League from Kathmandu Kings
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</div>


	<script type="text/javascript">
		window.onscroll = function () {
			setSticky();
		}

		navbar = document.getElementsByClassName('menu')[0];
		var sticky = navbar.offsetTop;
		function setSticky() {
			if (window.pageYOffset >= sticky) {
				navbar.classList.add('sticky');
			} else {
				navbar.classList.remove('sticky');
			}
		}
	</script>





</body>

</html>